@use 'colors';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  // padding-top: 10px;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.2px;
    padding-left: 25px;
    margin-left: -20px;
    border-left: 5px solid colors.$color-accent-mint;
  }

  &__actions {
    font-family: 'TT Lakes', sans-serif;
    display: flex;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
    margin-right: 20px;
  }

  &__action {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    color: colors.$color-text-muted;
    text-decoration: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  display: none;
  animation: fadeOut 1s ease backwards;
  // padding-top: 10px;
  padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .header__actions {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    gap: 15px;
    background-color: colors.$color-white;
    animation: fadeIn 1s ease forwards;
    margin: 0;
  }

  .divider__mobile {
    display: none;
  }

  .menu__group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: colors.$color-white;
    animation: fadeIn 1s ease forwards;
    box-sizing: border-box;
    padding: 10px 25px;
    margin: 0px;

    &__group {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0px 12px 0 0;
    }

    &__btn--hide-mobile {
      display: none;
    }
  }

  .divider__tablet {
    display: none;
  }

  .header__actions {
    display: none;
  }

  .header__title {
    font-size: 28px;
  }
}
