@use 'colors';

@font-face {
  font-family: 'TT lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// global
body {
  font-family: 'TT lakes', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

// style for menu
aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 276px;
  height: 100vh;
  overflow-y: auto;
  min-height: 750px;
  background-color: colors.$color-white;
  box-shadow: 16px 0px 52px 0px colors.$color-shadow-x,
    -2px 0px 4px 0px colors.$color-shadow-y;
  z-index: 1;
}
.aside--open {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: -17px;
  box-sizing: border-box;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.2px;
    padding-left: 25px;
    margin-left: -20px;
    border-left: 5px solid colors.$color-accent-mint;
  }

  &__actions {
    font-family: 'TT Lakes', sans-serif;
    display: flex;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
    margin-right: 20px;
  }

  &__action {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    color: colors.$color-text-muted;
    text-decoration: none;
  }
}

.nav {
  margin-left: 7px;

  ul {
    list-style: none;
    text-decoration: none;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.nav__link {
  text-decoration: none;
  list-style: none;
  color: colors.$color-text-main;
  font-size: 16px;
  padding: 10px 5px 10px;
  box-sizing: border-box;
  border-left: 2px solid transparent;

  &:hover {
    border-left: 2px solid colors.$color-accent-mint;
  }
}

ul {
  li {
    display: flex;
    align-items: center;
  }
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 320px;
  font-family: 'TT Lakes', sans-serif;

  .footer__buttons {
    padding-left: 20px;
  }

  .footer__contacts {
    font-family: 'TT Lakes', sans-serif;
    padding-left: 20px;
  }
}

.footer__email,
.footer__number {
  font-family: 'TT Lakes', sans-serif;
}

.footer {
  &__email {
    font-size: 16px;
  }

  &__number {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__lang {
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;

    button {
      font-size: 16px;
    }
  }

  &__text {
    width: 50%;
  }

  &__proposal-btn {
    display: flex;
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid colors.$color-border-mint;
  }
}

// style for responsive
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  display: none;
  animation: fadeOut 1s ease backwards;
  margin-top: 0px;
  padding-bottom: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 20px;
  margin: 20px 30px 0 20px;

  &__text--display-for-mobile {
    display: none;
  }
}

.photo {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.readmore__btn {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: colors.$color-text-muted;
  font-weight: 700;
  text-decoration: none;
}

main {
  padding: 20px 0 0 0;
  box-sizing: border-box;
  background-color: colors.$color-bg-page;
}

// style for show
.brands-section {
  background-color: colors.$color-bg-page;
  padding-bottom: 30px;
}

.brands-title {
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  border-top: 1px solid colors.$color-border-mint;
  background: linear-gradient(
    90deg,
    colors.$color-bg-section 0%,
    colors.$color-white 98.61%
  );
}

.brands-grid {
  padding: 30px 30px 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.swiper {
  display: none;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: colors.$color-white;
  max-width: 240px;
  width: 100%;
  height: 72px;
  border-radius: 6px;
  border: 1px solid colors.$color-border-light;
  box-sizing: border-box;
  min-width: 0;
}

.hidden {
  display: none;
}

.toggle-btn {
  font-family: 'TT Lakes', sans-serif;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  margin: 30px;
}

// slider 1
.mySwiper {
  width: 100%;
  height: 100%;
  background-color: colors.$color-bg-section;
  border-top: 1px solid colors.$color-border-mint;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: colors.$color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid colors.$color-border-light;
  border-radius: 6px;
  margin: 30px 0 30px 20px;
  padding: 10px;
  width: 240px;
  height: 72px;
}

.swiper-slide img {
  display: block;
  width: auto;
}

// slider 2
.myswiper2 {
  width: 100%;
  height: 100%;
  background-color: colors.$color-bg-section;
  border-top: 1px solid colors.$color-border-mint;
}

.myswiper2 .swiper-slide {
  position: relative;

  width: 240px;
  height: 160px;
  border: 1px solid colors.$color-border-light;
  border-radius: 6px;
  background-color: colors.$color-white;
  // padding: 0 30px 0 30px;
  margin: 30px;
}

.myswiper2 .swiper-slide h3 {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  left: 10px;
}
.myswiper2 .swiper-slide .arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.myswiper2-pagination {
  display: flex;
  justify-content: center; // 👈 Centre les bullets
  align-items: center;
  position: relative !important; // 👈 Pour éviter que Swiper ne la déplace
  margin-top: 10px;
}

// show2
.types {
  position: relative;
  display: grid;
  width: 200px;
  height: 160px;
  border: 1px solid colors.$color-border-light;
  border-radius: 6px;
  background-color: colors.$color-white;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
  padding: 0 30px 0 30px;

  h3 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 10px;
  }

  .arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &_hidden {
    display: none;
  }
}

// table design
.table-section {
  padding: 50px;
  background-color: colors.$color-bg-page;
  padding-bottom: 30px;
  // border: 1px solid colors.$color-debug-blue;
}

table {
  width: 100%;
  padding: 20px 0 0 0;
  border-collapse: collapse;
  background-color: colors.$color-white;
  border-radius: 6px;

  th {
    background-color: colors.$color-bg-section;
    font-weight: 400;
    font-size: 16px;
    border-bottom: 2px solid colors.$color-border-light;
  }

  th,
  td {
    text-align: left;
    padding: 12px 15px;
  }

  td {
    border-bottom: 1px solid colors.$color-border-light;
  }
}

.btn_order {
  color: colors.$color-white;
  background-color: colors.$color-accent-pink;
  border-radius: 50px;
}
.mySwiper3 {
  width: 100%;
  height: 100%;
  background-color: colors.$color-bg-section;
  // border-top: 1px solid colors.$color-border-mint;
}

.mySwiper3 .swiper-slide {
  width: 260px;
  height: 200px;
  padding: 20px 22px;
  margin: 30px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.label {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #b3b3b7;
  margin-bottom: 4px;
}

.text-main {
  font-size: 14px;
  color: #232329;
}

.row {
  display: flex;
  flex-direction: column;
}

.card-footer {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.order-btn {
  // border: none;
  // outline: none;
  // cursor: pointer;
  padding: 8px 22px;
  border-radius: 999px;
  background: #ff2d7c;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.order-btn span.arrow {
  font-size: 13px;
  line-height: 1;
}

.last-row {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper3-pagination {
  display: flex;
  justify-content: center; // 👈 Centre les bullets
  align-items: center;
  position: relative !important; // 👈 Pour éviter que Swiper ne la déplace
  margin-top: 10px;
}

// large screens
@media (min-width: 1120px) {
  main {
    margin-left: 276px;
  }

  .brands-title {
    margin-left: 276px;
  }

  .brands-section {
    margin-left: 276px;
  }

  .table-section {
    margin-left: 276px;
  }

  .main_footer {
    margin-left: 276px;
    width: calc(100% - 276px);
    background-color: colors.$color-bg-section;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    font-size: 14px;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  font-size: 16px;
  color: colors.$color-text-muted;
  font-weight: 400;
  box-sizing: border-box;
}

.nav__link {
  padding: 10px 25px;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  border: 2px solid transparent;
  white-space: nowrap;

  &:hover {
    border: 2px solid colors.$color-accent-mint;
    background-color: colors.$color-white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1120px) {
  aside {
    display: none;
  }
  aside.aside--open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .header__actions {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 10px 25px;
    gap: 15px;
    background-color: colors.$color-white;
    animation: fadeIn 1s ease forwards;
  }

  .divider__mobile {
    display: none;
  }

  .menu__group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav {
    width: auto;
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    transition: flex-basis 0.35s ease;
  }

  .nav__link {
    white-space: nowrap;
  }

  .box {
    animation: fadeIn 1s ease forwards;
  }

  .header__title {
    font-size: 28px;
  }

  .content {
    font-size: 14px;

    &__text--hide-for-tablet {
      display: none;
    }

    &__text--display-for-mobile {
      display: none;
    }
  }
  .main_footer {
    padding: 20px;
    width: 100%;
    background-color: colors.$color-bg-section;
    box-sizing: border-box;
  }
}

// mobile main layout
@media (max-width: 768px) {
  .body {
    width: 320px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
  }

  aside {
    display: none;
  }
  aside.aside--open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .menu {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: colors.$color-white;
    animation: fadeIn 1s ease forwards;
    box-sizing: border-box;
    padding: 10px 25px;

    &__group {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0px 12px 0 0;
    }

    &__btn--hide-mobile {
      display: none;
    }
  }

  .divider__tablet {
    display: none;
  }

  .header__actions {
    display: none;
  }

  .header__title {
    font-size: 28px;
  }

  .nav {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    margin-left: 20px;
    overflow-x: scroll;
    transition: flex-basis 0.35s ease;
  }

  .nav__link {
    white-space: nowrap;
    font-size: 16px;
  }

  .content {
    display: flex;
    width: 100vw;
    // margin: 10px 10px;
    padding: 10px 10px;
    flex-direction: column;
    font-size: 14px;
    box-sizing: border-box;

    &__text--hide-for-mobile {
      display: none;
    }

    &__text--display-for-mobile {
      display: inline;
    }
  }

  .mobile_text {
    display: block;
    margin-bottom: 30px;
  }

  .desciption_text {
    order: 1;
  }

  .readmore__btn {
    font-size: 16px;
  }

  .photo {
    img {
      width: 100vw;
      margin-left: -19px;
      border-radius: 0px;
    }
  }

  .main_footer {
    padding: 20px;
    width: 100%;
    background-color: colors.$color-bg-section;
    box-sizing: border-box;
  }

  .footer__text {
    width: 100%;
    // border: 1px solid colors.$color-debug-red;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    border-top: 1px solid colors.$color-border-mint;
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 30px;
  }
}

// media for slider
// mobile slider
@media (max-width: 768px) {
  .brands-section {
    display: none;
  }

  .swiper {
    display: block;
  }

  .brands-title-for-tablet {
    display: none;
  }
  .table-section {
    display: none;
  }
}

// tablet slider
@media (min-width: 768px) and (max-width: 1120px) {
  .brands-grid {
    display: grid;
    padding: 30px 30px 0 30px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
