@use 'colors';
@use 'menu';
@use 'swiper';
@use 'header';
@use 'main';
@use 'footer';

@font-face {
  font-family: 'TT lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// global
body {
  font-family: 'TT lakes', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

// style for menu

ul {
  li {
    display: flex;
    align-items: center;
  }
}

// style for responsive

.hidden {
  display: none;
}

.toggle-btn {
  font-family: 'TT Lakes', sans-serif;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  margin: 30px;
}

// large screens
@media (min-width: 1120px) {
  main {
    margin-left: 276px;
  }

  .brands-title {
    margin-left: 276px;
  }

  .brands-section {
    margin-left: 276px;
  }

  .table-section {
    margin-left: 276px;
  }

  .main_footer {
    margin-left: 276px;
    width: calc(100% - 276px);
    background-color: colors.$color-bg-section;
    padding: 20px 0 20px 20px;
    box-sizing: border-box;
    font-size: 14px;
  }
}

// .nav {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 28px;
//   font-size: 16px;
//   color: colors.$color-text-muted;
//   font-weight: 400;
//   box-sizing: border-box;
// }

// tablet

// mobile main layout
@media (max-width: 768px) {
  .mobile_text {
    display: block;
    margin-bottom: 30px;
  }

  .desciption_text {
    order: 1;
  }

  .readmore__btn {
    font-size: 16px;
  }

  .photo {
    img {
      width: 100vw;
      margin-left: -19px;
      border-radius: 0px;
    }
  }
}

// media for slider

// tablet slider
